/tp1/Informe/informe.aux
/tp1/Informe/informe.log
/tp1/Informe/informe.synctex.gz
/tp1/Informe/informe.toc


/tp2/Informe/informe.aux
/tp2/Informe/informe.log
/tp2/Informe/informe.synctex.gz
/tp2/Informe/informe.toc
/tp2/Informe/informe.pdf
